
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="public/assets/css">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<div class="container">

<div class="mx-auto" style="width: 200px;">


<h1>Burgers</h1>

</div>



<p>Devoured Burgers</p>



<ul>
    {{#each burgerData}}
    {{#unless this.devoured}}
    {{this.id}}
    {{this.burger_name}}

    <form class="devour-form button-size">
        <input input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
        <button type="submit" class="btn btn-default">Devour it!</button>
    </form>
    {{/unless}}
    {{/each}}
</ul>

{{#each burgerData}}
{{#if this.devoured}}
<input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
{{/if}}
{{/each}} 



<form action="/burger/create" method="POST">
    <input type="text" class="form-control" name="burger_name" value="" id="enter_text">
    <button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
</form>
<p>Enter a burger you want to eat and Click the "Submit" button.</p> 



</div>